 .Form{
    display:inline-block;
    margin-left: 500px;
    margin-bottom: 150px;;
    padding:130px;
    background-color:rgb(173, 207, 182);
          }

 .class1{
    font-size: 1em;
    
       }


  .red{
      color:rgb(231, 25, 60);
  }
   

   .inputDiv > input {
      width: 250px;
   }